body {
    background-color: beige;
}
h1 {
    color: rgb(64, 128, 150);
    font-family: Georgia;
    text-align: center;
}
h2 {
    color: grey;
    font-family: 'Times New Roman', Times, serif;

}
ul{
    font-size: medium;
}